body {
  background-color: #352f44;
  color: #5c5470;
}

h1,
h2,
h3 {
  font-family: "Major Mono Display", monospace;
}

h1 {
  margin: 40px 0;
  font-size: 38px;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #faf0e6;
  border-radius: 8px;
}
.container {
  margin: 30px auto;
  padding: 30px;
}
