.Dictionary section {
  padding: 30px;
  margin: 20px 0;
  box-shadow: rgb(53, 47, 68, 0.2) 0px 3px 8px;
  border-radius: 4px;
}

input {
  display: block;
  margin: 0 auto;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px 20px;
  width: 50%;
  font-weight: 500;
  color: #5c5470;
  transition: all 200ms ease-in-out;
}
input:hover,
input:focus {
  border-color: rgb(211, 211, 211);
  box-shadow: 0px 2px 6px 1px rgba(167, 167, 167, 0.295);
}

@media (max-width: 570px) {
  .Dictionary section {
    padding: 10px;
    margin: 10px 0;
  }
  input {
    padding: 5px;
    width: 100%;
  }
}
