.Word h2,
.Word p {
  text-align: center;
  font-weight: 600;
}
.Word h2 {
  margin-top: 20px;
}

.Word .phonetic {
  margin: 0;
  font-size: 18px;
  padding: 10px;
  opacity: 0.7;
}

@media (max-width: 570px) {
  .Word h2 {
    margin-top: 10px;
  }
  .Word .phonetic {
    padding: 0;
  }
}
